<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="za.co.ibear.dev.util"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="applicationCSS"
               value="platform:/plugin/za.co.ibear.snippet/css/default.css">
         </property>
         <property
               name="appName"
               value="za.co.ibear.dev.util">
         </property>
      </product>
   </extension>

</plugin>
